

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="img/gambar.jpg" alt="alifudinniko" class="img-thumbnail rounded-circle" width="200"/>
                <h1 class="display-4">Alifudinniko</h1>
                <p class="lead"> manusia biasa</p>
            </div>
        </div>
    </div>
    <h1>About nih</h1>

</body>

